@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
  background-image: url('https://raw.githubusercontent.com/lukef7fywmrp/disney-clone/main/public/images/background.png');
  background-repeat: no-repeat;
  background-size: cover;
}

@layer base {
  body {
    @apply !scrollbar-thin !scrollbar-track-transparent !scrollbar-thumb-blue-900 font-[Montserrat];
  }
}

.brand {
  @apply flex w-52 h-32 sm:w-64 sm:h-36 border-[3px] border-[#f9f9f9] border-opacity-10 rounded-lg cursor-pointer shadow-xl  hover:border-opacity-80 hover:shadow-2xl transform hover:scale-105 transition duration-300;
}

option {
  padding: 6px 6px;
  padding-left: 20px;
  cursor: pointer;
}

option:hover {
  background-color: #80808033;
}

option:focus {
  background-color: red;
}

.player-wrapper {
  position: relative;
  padding-top: 56.25%;
}

.react-player {
  position: absolute;
  top: 0;
  left: 0;
}
